.navbar {
  display: flex;
}

.navbar a {
  background-color: lightblue;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.navbar :global(.active),
a:hover {
  background-color: rgb(139, 217, 242);
}